/*----- Google fonts -----*/

@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Cormorant:ital,wght@1,300&family=Noto+Sans+JP:wght@300&family=Raleway+Dots&display=swap");

/*----- General style -----*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Afacad", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.start-btn,
.home {
  background-color: #e03306;
  color: white;
  border: 0;
  box-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0, 0.2);
  font-size: 1.4rem;
  padding: 3%;
}

.hide {
  display: none;
}

/*----- Header -----*/

header {
  margin: 2%;
}

.header-div {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  width: 40%;
}

.logo-img {
  width: 100%;
  aspect-ratio: 1.32/1;
}

.sign-up-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.sign-up-div div {
  background-color: #3863fa;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-btn,
.back-home {
  color: white;
  padding: 9%;
  font-size: 1.3rem;
  border: none;
  background-color: #3863fa;
  width: 100%;
}

/*----- Main -----*/

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.card-shadow {
  box-shadow: 0 4px 9px rgb(100, 130, 243, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.math-img {
  width: 100%;
  aspect-ratio: 3/2;
}

.game-content {
  margin: 3%;
}

.game-p {
  text-align: left;
  padding: 3%;
}

.functions {
  font-size: 1.4rem;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score {
  color: #3863fa;
  border: none;
  padding: 3%;
  background-color: white;
  text-decoration: underline;
  font-size: 1.3rem;
}

.sound {
  color: #00cb7f;
}

/*----- Footer -----*/

footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 203, 127, 0.1);
  padding: 5%;
  margin-top: 5%;
  align-items: center;
}

footer a {
  padding: 5%;
  font-size: 2rem;
}

.fa-square-facebook {
  color: #4267b2;
}

.fa-youtube {
  color: #ff0000;
}

.fa-square-twitter {
  color: #1da1f2;
}

/*----- Game Page -----*/

.game-screen {
  padding: 3%;
}

.level-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.question span {
  padding: 0 5%;
}

.score-level {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  color: #3863fa;
}

.score-level p {
  padding: 0 5%;
  font-weight: bold;
}

.game-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pick-answer div {
  font-size: 2rem;
  width: 40%;
  padding: 5%;
  margin: 5%;
  border: solid 0.3rem;
  border-image: linear-gradient(45deg, #6482f3, #00cb7f) 1;
  background-size: 300% 300%;
  list-style: none;
}

#pick-answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.game-hide {
  display: none;
}

.start-hide {
  display: none;
}

.game-over-hide {
  display: none;
}

.change-colour {
  color: #008553;
}

/*----- animation -----*/

.animation {
  width: 40%;
  position: absolute;
  bottom: 15%;
  right: 5%;
}

.animation img {
  width: 100%;
}

.animation-hide {
  display: none;
}

/*----- Game Over -----*/

.game-over {
  font-size: 2.5rem;
  color: #3863fa;
}

.your-score {
  font-size: 1.7rem;
  margin-top: 20%;
  font-weight: bold;
}

.game-option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20% 0;
}

.game-option a {
  font-size: 1.5rem;
  color: white;
}

.score-game {
  background-color: #00cb7f;
  padding: 5%;
}

/*----- Scoreboard -----*/

#highest-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#reset {
  margin: 10%;
  padding: 5%;
  border: none;
  background-color: #e03306;
  color: white;
}

#score-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table,
thead {
  border: 1px solid #3863fa;
}

thead {
  font-weight: bold;
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

td {
  width: 50%;
  padding: 3% 0;
}

#back {
  margin: 10% 0 10% 50%;
  padding: 10%;
  width: 100%;
  border: none;
  color: white;
  background-color: #008553;
}

.no-score-message {
  width: 100%;
  margin: 5% 0 0 50%;
}

.score-board-hide {
  display: none;
}

/*----- Sign up page -----*/

#signup {
  margin-top: 5%;
}

.signup-title {
  text-align: left;
}

.signup-p {
  margin: 5% 0;
  text-align: left;
}

#signup-form {
  text-align: left;
  width: 80%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

#signup-form input {
  padding: 2%;
  margin-bottom: 5%;
}

#submit {
  background-color: #e03306;
  color: white;
  border: 0;
  font-size: 1.3rem;
  width: 50%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#signup-form .btn {
  padding: 5%;
}

/*----- Successful message -----*/

.message {
  margin: 5% 0;
}

/*----- Media query: larger phone and landscape (576px and up) -----*/

@media screen and (min-width: 576px) {
  .logo-div {
    width: 25%;
  }

  .sign-up-div {
    width: 40%;
  }

  .card-shadow {
    flex-direction: row;
  }

  .game-img-div {
    background: url(../images/math.webp) no-repeat center center/cover;
    width: 100%;
  }

  .math-img {
    display: none;
  }

  footer {
    padding: 0;
  }

  /*--- Game page ---*/

  .level-question {
    width: 50%;
  }

  .game-answers {
    width: 50%;
  }

  /* Game over */
  .home {
    padding: 5%;
  }

  /* animation */

  .animation {
    width: 20%;
  }

  /*--- Sign up page ---*/

  #signup {
    background-color: rgb(255, 255, 255, 0.5);
  }

  /*--- Scoreboard ---*/

  #reset {
    padding: 3%;
  }

  #highest-div {
    flex-direction: row;
  }
}

/*----- Media query: tablets and larger (768px and up) -----*/

@media screen and (min-width: 768px) {
  footer a {
    padding: 2% 5%;
  }

  #back {
    padding: 5%;
  }

  #reset {
    padding: 1.5%;
  }

  #signup-form .btn {
    padding: 4%;
  }

  #submit {
    width: 30%;
  }

  #back {
    margin-left: 80%;
    width: 35%;
  }
}

/*----- Media query: laptop and larger (992px and up) -----*/

@media screen and (min-width: 992px) {
  .logo-div {
    width: 12%;
  }

  /* Sign Up */
  .sign-up-div {
    width: 20%;
  }

  #submit {
    width: 25%;
  }

  #signup-form .btn {
    padding: 2.5%;
  }

  /* Scoreboard */

  #game {
    width: 60%;
  }

  /* animation */
  .animation {
    width: 15%;
  }
}

/*----- Media query: 1200px and larger (1200px and up) -----*/

@media screen and (min-width: 1200px) {
  .sign-up-div div {
    width: 70%;
  }
}
