/* General style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

/* Header */

header {
  margin: 2%;
}
.header-div {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  width: 40%;
}

.logo-img {
  width: 100%;
  height: auto;
}

.sign-up-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.sign-up-div div {
  background-color: #6482f3;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-btn {
  color: white;
  padding: 8%;
  font-size: 1.4rem;
}

/* Main */
main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.card-shadow {
  box-shadow: 0 4px 9px rgb(100, 130, 243, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.math-img {
  width: 100%;
}

.game-content {
  margin: 3%;
}

.game-p {
  text-align: center;
  padding: 3% 0;
}

.start-btn {
  background-color: #f9643f;
  color: white;
  border: 0;
  box-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0, 0.2);
  font-size: 1.4rem;
  padding: 3%;
}

.functions {
  font-size: 1.4rem;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
}

.setting {
  color: #00cb7f;
}

.score {
  color: #6482f3;
}

.sound {
  color: #feb823;
}

/* Footer */
footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 203, 127, 0.1);
  padding: 5%;
  margin-top: 5%;
}

footer a {
  padding: 5%;
  font-size: 2rem;
}

.fa-square-facebook {
  color: #4267b2;
  background-color: white;
}

.fa-youtube {
  color: #ff0000;
  background-color: white;
}

.fa-square-twitter {
  color: #1da1f2;
  background-color: white;
}

/* Game Page */

.game-screen {
  padding: 3%;
}

.level-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.question span {
  padding: 0 5%;
}

.score-level {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  color: #6482f3;
}

.score-level p {
  padding: 0 5%;
}

.game-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pick-answer div {
  font-size: 2rem;
  width: 40%;
  padding: 5%;
  margin: 5%;
  border: solid 0.3rem;
  border-image: linear-gradient(45deg, #6482f3, #00cb7f) 1;
  background-size: 300% 300%;
  list-style: none;
}

#pick-answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.game-hide {
  display: none;
}

.start-hide {
  display: none;
}

.game-over-hide {
  display: none;
}

/* animation */

.animation {
  width: 40%;
  position: absolute;
  bottom: 15%;
  right: 5%;
}

.animation img {
  width: 100%;
}

.animation-hide {
  display: none;
}

/* Game Over */

.game-over {
  font-size: 2.5rem;
  color: #6482f3;
  margin-bottom: 20%;
}

.your-score {
  font-size: 1.5rem;
}

.game-option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20% 0;
}

.game-option a {
  font-size: 1.5rem;
  color: white;
}

.score-game {
  background-color: #00cb7f;
  padding: 5%;
}

.home {
  background-color: #f9643f;
  padding: 5%;
}

/* Scoreboard */

#score-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table,
thead {
  border: 1px solid #6482f3;
}

thead {
  font-weight: bold;
  font-size: 1.3rem;
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

td {
  width: 50%;
  padding: 3% 0;
}

#back {
  margin: 10% 0 10% 50%;
  padding: 5%;
  width: 100%;
  border: none;
  color: white;
  background-color: #00cb7f;
}

/* Media query: larger phone and landscape (576px and up)*/
@media screen and (min-width: 576px) {
  .logo-div {
    width: 25%;
  }
  .sign-up-div {
    width: 40%;
  }

  .card-shadow {
    flex-direction: row;
  }

  .game-img-div {
    background: url(../images/math.webp) no-repeat center center/cover;
    width: 100%;
  }

  .math-img {
    display: none;
  }

  footer {
    padding: 0;
  }

  /* Game page */
  .level-question {
    width: 50%;
  }

  .game-answers {
    width: 50%;
  }

  /* animation */
  .animation {
    width: 30%;
  }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  footer a {
    padding: 2% 5%;
  }
}

/* Media query: laptop and larger (992px and up)*/
@media screen and (min-width: 992px) {
  .logo-div {
    width: 12%;
  }

  .sign-up-div {
    width: 20%;
  }

  #game {
    width: 60%;
  }

  /* animation */
  .animation {
    width: 15%;
  }
}

/* Media query: 1200px and larger (1200px and up)*/
@media screen and (min-width: 1200px) {
}
